/***PHONES***/
@media screen and (max-width: 767px) {
  /*******************************GENERAL******************************/
  .menuSite .active::before{
      content:none;
  }
  /*******************************INDEX******************************/
  /***********HEADER**********/
  header { 
      position: fixed;
      top:0;
      left:0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: white;
      height: 80px;
      width: 90%;
      transition: 0.5s;    
      z-index: 100;
  }
  .logo img {
      max-height: 100%;
      top:50%;
  }
  .menu {
      width: 0vw;
      height: 100vh;
      transition: 0.5s;
      position: absolute;
      right: 0%;
      top: 0%;
      background: white;
      display: flex;
      align-items: flex-start;
      justify-content: center;
  }
  .menu ul {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  .menu li {
      opacity: 0;
      transition: 0.2s;
      margin-bottom: 20px;
  }
  .menu a {
      transition: 0.2s;
      font-size: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .column {
    flex: 40%;
    max-width: 50%;
  }
}@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  /*****************NAVBAR*****************/
  .hamburger.hamburger--spin {
      display: none;
  }
}
