/*******************************FONTS******************************/
@font-face{
    font-family:'AmeliaBold';
    src:url('./../fonts/Amelia-Basic-Bold.ttf');
}
@font-face{
    font-family:'AmeliaOblicuaBlack';
    src:url('./../fonts/Amelia-Basic-OblicuaBlack.ttf');
}
@font-face{
    font-family:'AmeliaBasicBlack';
    src:url('./../fonts/Amelia-Basic-Black.ttf');
}
@font-face{
    font-family:'AmeliaOblicuaBold';
    src:url('./../fonts/Amelia-Basic-OblicuaBold.ttf');
}
@font-face{
    font-family:'AmeliaBasicItalic';
    src:url('./../fonts/Amelia-Basic-Italic.ttf');
}
@font-face{
    font-family:'AmeliaBasic';
    src:url('./../fonts/Amelia-Basic.ttf');
}
/*******************************GENERAL******************************/
body{
    background:white;
    color:var(--bleu);
    font-family:'AmeliaBasic';
}
a{
    text-decoration:none;
    color:var(--bleu);
}
:root{
    --bleu : #214490;
    --jaune : #ffd800;
    --gris : #838383;
    --gris2 : #454545;
    --gris3 : #cac9c9;
}
h2{
    font-size:1.5em;
    font-family:'AmeliaOblicuaBlack';
    text-transform: uppercase;
}
.firstSection{
    margin-top:-2em;
    padding-top:2em;
}
.menuSite > ul > li:nth-last-child(2), .btn-yellow{
    background:var(--jaune);
    border-radius:10px;
    padding:.5em;
}
.btn-yellow, .btn-white{
    padding:.8em 1em;
    font-family:'AmeliaBasicBlack';
}
.btn-white{
    background-color:white;
    border-radius:10px;
}
.italic{
    font-family:'AmeliaBasicItalic';
}
.centres, .lieux, .carre{
    padding: 2em 0;
}
p{
    line-height:1.4em;
}
.atouts h2, .chaine h2, .actualites h2, .presentation h2, .historique > h2, .transport h2, .presentationActus h2,
.actu h2, .pourquoi h2, .emplois h2, .bandeauRejoindre h2, .offreEmploi h2, .candidater h2, .contact h2{
    position:relative;
}
.atouts h2::after, .chaine h2::after, .actualites h2::after, .presentation h2::after, .historique > h2::after,
.transport h2::after, .presentationActus h2::after, .actu h2::after, .pourquoi h2::after, .emplois h2::after,
.offreEmploi h2::after, .candidater h2::after, .contact h2::after{
    content: url('./../img/underline.png');
    display:block;
    position:absolute;
    bottom:-1em;
    left:-5%;
    transform:scale(1.2);
}
.conseil > section, header > section, .centres > section, .confiance, .ariane{
    padding: 0 10vw;
}
.presentation > p, .historique > p, .transport > p, .presentationActus > p{
    font-family:'AmeliaBold';
    width: 80%;
    text-align:center;
}
.presentation h2, .historique > h2, .transport h2, .presentationActus h2, .lieux h2, .chaine h2, .actualites h2,
.pourquoi h2, .emplois h2, .bandeauRejoindre h2, .contact h2    {
    margin-bottom:2em;
}
header, .actualites > p, .titleHistoire, .texte > p:first-child, .titreTransport :first-child, 
.texteActu > :first-child, .pourquoi > p:first-of-type, .job article, .texteEmploi > :first-child{
    font-family:'AmeliaBold';
}
.noDesktop{
    display:none !important;
}
/*******************************INDEX******************************/
/***********HEADER**********/
header{
    height: 10vh;
    box-shadow:0px 0px 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:10;
    background:white;
}
header > section{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:100%;
}
.logo{
    width:20%;
}
.logo img{
    width:100%;
}
.menuSite{
    width:75%;
}
.menuSite > ul{
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.menu li{
    font-size:.9em;
}
/***********HEADER**********/
.diapo{
    height:75vh;
    margin: 0 5vw;
    margin-top:10vh;
}
.diapo .swiper-container{
    height:100%;
}
.diapo img{
    max-width:90%;
    max-height:90%;
    height:auto;
}
.diapo .swiper-slide{
    display:flex;
    align-items: center;
    justify-content: center;
}
.swiper-button-next:after{
    content : url('./../img/arrow-right.png');
}
.swiper-button-prev:after{
    content : url('./../img/arrow-left.png');
}
.swiper-pagination-bullet{
    background:white;
    border:1px solid var(--bleu);
    opacity:1;
}
.swiper-pagination-bullet-active{
    background-color:var(--bleu);
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom:0;
}
/***********ATOUTS**********/
.atouts{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:2em;
}
.atouts > section{
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    width:90vw;
    color:white;
}
.atouts > section > *{
    margin:2em 0;
}
.atoutsDesc{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-around;
}
.chiffre{
    font-family:'AmeliaOblicuaBlack';
}
.chiffreDesc{
    font-family:'AmeliaOblicuaBold';
}
.atoutsDesc > section{
    width:15%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
}
.chiffreDesc{
    width:70%;
    text-align:center;
}
.atoutsDesc > section:last-child .chiffreDesc{
    width:90%;
}
.chiffre{
    color:var(--jaune);
    font-size:2.5em;
    margin-bottom:.25em;
}
img.chiffre{
    height:60px;
}
.chiffreDesc span{
    display:block;
}
/***********CENTRES**********/
.centres > section{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}
.lieux, .chaine{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    width:100%;
}
.lieux > section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
}
.lieux h2{
    width:20%;
}
.lieux h2, .chaine h2{
    position:relative;
    text-align:center;
}
.lieux h2::after{
    content: url('./../img/deux.png');
    display:block;
    position:absolute;
    top:-1.2em;
    left:-.8em;
}
.adresse img{
    margin-bottom:1em;
}
.adresse p:first-of-type{
    font-family:'AmeliaBasicBlack';
}
.chaine{
    width:70%;
}
.chaine > section{
    display:flex;
    justify-content: space-between;
    margin-bottom:2em;
    text-align:center;
}
.chaine h2::after{
    left:1.5em;
    transform:scale(1.5);
}
.logistique{
    width:20%;
    font-family:'AmeliaOblicuaBlack';
}
.chaine >section > img{
    height:5%;
    margin-top:45px;
}
.image{
    height:80px;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    margin-bottom:1em;
}
.chaine h3{
    margin-bottom:3.5em;
    height:40px;
    font-size:1.2em;
}
.logistique{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chaine .logistique:first-child .descLogistique, .chaine .logistique:last-child .descLogistique{
    width:140%;
}
.descLogistique{
    height:120px;
    display:flex;
    align-items:flex-start;
    justify-content: center;
}
.logistique p{
    position:relative;
}
.logistique p::after{
    content: '';
    display:block;
    position:absolute;
    background-color:var(--jaune);
    height:3px;
    width:40px;
    top:-1.5em;
    left:50%;
    transform:translateX(-50%);
}
/***********CONSEIL**********/
.conseil{
    display:flex;
    justify-content:center;
    padding-bottom:5em;
}
.conseil > section{
    display:flex;
    align-items:center;
    justify-content: center;
}
.carre > section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width:70%;
    min-height:350px;
    text-align:center;
}
.carre{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height:400px;
    max-width:50%;
}
.carre p{
    margin:1em 0;
}
.carreBleu h2, .carreBleu p{
    color:white;
}
.carre h2{
    position:relative;
    width:66%;
    margin-bottom:2em;
}
.carre h2::after{
    content: '';
    display:block;
    position:absolute;
    background-color:white;
    height:3px;
    width:90px;
    bottom:-1.5em;
    left:50%;
    transform:translateX(-50%);
}
.carreJaune h2::after{
    background-color:var(--bleu);
}
.carreBleu{
    margin-right:-1.3em;
}
.carreJaune{
    margin-left:-1.3em;
    margin-top:12em;
}
/***********ACTUALITES**********/
.actualites{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:2em 10vw;
}
.actualites h2::after{
    left:.5em;
    transform: scale(1.4);
}
.actus{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:2em 0 3em 0;
}
.actus > section{
    width:24%;
}
.imgActus{
    width:180px;
    height:180px;
}
.dateActu{
    font-size:.8em;
}
.titreActu{
    font-family:'AmeliaBasicBlack';
}
.descActu{
    margin-top:.5em;
    font-size:.9em;
}
/***********CONFIANCE**********/
.confiance{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}
.confiance h2{
    margin:.5em 0;
}
.diapoConfiance{
    width:100%;
    height:30vh;
    margin-bottom:2em;
}
.diapoConfiance .swiper-slide{
    text-align:center;
    display:flex;
    align-items:center;
    justify-content: center;
}
/***********FOOTER**********/
footer{
    font-size:.8em;
}
.footerPrincipal{
    background:var(--bleu);
    border-top:5px solid var(--jaune);
    position:relative;
}
.footerPrincipal > section{
    padding:2em 10vw;
    display:flex;
    justify-content: space-between;
    align-items:center;
    color:white;
    width:60%;
}
.footerPrincipal a{
    color:white;
}
.footerPrincipal > section > *{
    width:30%;
}
.logoFooter{
    width:100%;
    margin-bottom:1em;
}
.tel, .mail{
    display:flex;
    align-items: center;
}
.adresseFooter{
    margin-bottom:1em;
    display:flex;
    align-items:flex-start;
}
.adresseFooter > section{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.adresseFooter > section > p:first-child{
    color:var(--jaune);
    font-family:'AmeliaBasicBlack';
}
.infos i, .infos img{
    margin-right:1em;
    width:10px;
    color:var(--jaune);
}
.footerSecondaire{
    padding:1em 0;
    color:var(--gris);
    background:white;
}
.footerSecondaire a{
    color:var(--gris);
}
.footerSecondaire ul{
    display:flex;
    justify-content: center;
}
.footerSecondaire li:last-child{
    margin-left:.5em;
}
.footerSecondaire li:first-child a{
    margin-right:.5em;
}
.footerPrincipal .truck{
    width:25%;
    position:absolute;
    bottom:-2em;
    right:10vw;
}
/*******************************QUI SOMMES NOUS******************************/
/***********ARIANE**********/
.ariane{
    margin-top:12vh;
    font-family:'AmeliaBasicItalic';
}
/***********BANDEAU**********/
.bandeau{
    height:30vh;
    font-family:'AmeliaOblicuaBlack';
    display:flex;
    align-items: center;
    justify-content:center;
    margin-top:-2em;
}
.bandeau > section{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:70%;
    margin-top:1em;
}
.firstBandeau{
    color:var(--jaune);
    font-size:2.5em;
}
.lastBandeau{
    font-size:1.5em;
    width:30%;
    color:white;
}
/***********PRESENTATION**********/
.presentation, .historique{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    padding:2em 10vw;
}
.presentation h2::after{
    left:1.5em;
    transform: scale(1.6);
}
.competences{
    background-color:white;
    display:flex;
    justify-content: space-between;
    padding:2em;
    margin-top:2em;
}
.competences > section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width:24%;
    color:var(--gris2);
}
.competences img{
    margin-bottom:1em;
}
.historique > section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:3em 0;
}
.histoire {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.histoire > section {
    width: 45%;
    text-align: right;
}
section.histoireMargin {
    text-align: left;
    margin-top: 5em;
    margin-left:-.5em;
}
.descHistoire{
    color:var(--gris2);
}
.histoire h2{
    font-family:'AmeliaBasicItalic';
    color:var(--jaune);
    font-size:4em;
}
.boldDate{
    font-family:'AmeliaOblicuaBlack';
}
/*******************************NOS OFFRES******************************/
/***********PRESENTATION**********/
.offresDesc{
    display:flex;
    flex-direction: column;
    align-items: center;    
    padding:2em 10vw;
}
.description{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom:2em;
    padding-top:2em;
}
.description > section{
    height:100%;
    width:50%;
}
.imgOffres{
    display:flex;
}
.texte > p:last-child{
    color:var(--gris2);
    margin-top:2em;
}
.imgOffres > section{
    width:50%
}
.imgOffres img{
    width:100%;
}
.imgOffres > :first-child{
    margin-top:-3em;
    margin-right:-.65em;
}
.imgOffres > :last-child{
    margin-left:-.65em;
}
/***********OFFRES**********/
.transport{
    padding:2em 10vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    color:white;
}
.transport h2::after{
    left:50%;
    transform: translateX(-50%) scale(1.3);
}
.offresTransport{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin:2em 0;
}
.offresTransport > section{
    width:48%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
}
.imgTransport{
    height:80px;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 1em;
    position:relative;
}
.imgTransport::before{
    content: url('./../img/underline.png');
    display:block;
    position:absolute;
    bottom:0em;
    left:-10em;
}
.imgTransport::after{
    content: url('./../img/underline2.png');
    display:block;
    position:absolute;
    bottom:0em;
    right:-10em;
}
.titreTransport{
    height:55px;
    color:var(--jaune);
    text-align: center;
}
.offresTransport > section:first-child .titreTransport, .offresTransport > section:nth-child(2) .titreTransport{
    width:30%;
}
.offresTransport > section > img{
    width:80%;
    height:40px;
}
/***********BESOIN**********/
.besoin{
    padding:2em 0;
    margin-top:-2em;
}
.besoinDevis, .besoin > section{
    display:flex;
    justify-content: center;
    align-items: center;
}
.besoin h2{
    margin-right:1em;
}
.besoin img{
    height:1em;
    margin-right:-.15em;
}
/*******************************ACTUALITES******************************/
/***********ACTUS**********/
.presentationActus{
    padding: 2em 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentationActus h2::after{
    left:.5em;
    transform:scale(1.4);
}
.cardsActus{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    margin: 2em 0;
    align-items: flex-start;
}
.cardsActus > section{
    width:200px;
    margin:2em 1em;
}
.cardsActus img{
    width:100%;
    height:130px;
}
.cardsActus > section > section{
    background-color:white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:1em;
}
.cardsActus .descActu, .cardsActus .titreActu, .cardsActus .dateActu{
    padding:0 1em;
    text-align:center;
}
.cardsActus .descActu{
    margin:1em 0;
    color:var(--gris2);
    text-align: left;
}
.column > article{
    margin-bottom:2em;
}
.column > article > section{
    background:white;
}
.btn-actu{
    font-family:'AmeliaBasicBlack';
    width: 100%;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top:.5em;
}
/*******************************FICHE ACTUALITE******************************/
/***********ACTU**********/
.actu, .offreEmploi{
    padding:2em 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.actu h2::after{
    left:1.6em;
    transform: scale(1.6);
}
.actu h2, .offreEmploi h2{
    margin-bottom:1.5em;
}
.contentActu, .contentEmploi{
    margin:2em 0;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}
.imageEmploi img, .imageActu img{
    width:100%;
}
.contentActu > section, .contentEmploi > section{
    width:48%;
}
.texteActu > :first-child, .texteEmploi > :first-child{
    font-size:1.2em;
    margin-bottom: 1em;
}
.texteActu > *:not(:first-child), .texteEmploi > *:not(:first-child){
    color:var(--gris2);
}
.actu > .contentActu:last-child .texteActu{
    text-align:right;
}
/*******************************RECRUTEMENT******************************/
/***********POURQUOI**********/
.pourquoi, .emplois{
    padding:2em 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.pourquoi > *{
    margin:.5em 0;
}
.pourquoi h2::after{
    left: 3.5em;
    transform: scale(1.4);
}
.pourquoi > p:first-of-type{
    width:60%;
}
.pourquoi > :last-child{
    color:var(--gris2);
    width:90%;
}
/***********EMPLOIS**********/
.emplois h2::after{
    left: 2em;
    transform: scale(1.5);
}
.job{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:1em 0;
    min-height:20vh;
}
.offresEmploi .job:not(:last-child){
    border-bottom:1px solid var(--gris3);
}
.job img{
    width:200px;
    clip-path: polygon(8% 0%, 100% 0%, 92% 100%, 0% 100%);
}
.cdi, .job > p{
    color:var(--gris2);
}
.job > p, .job article{
    text-align:left;
}
.job article{
    margin-left:1em;
    width:50%;
    font-size:.9em;
}
.job > section{
    background-color:var(--gris);
    height:110px;
    width:3px;
    transform: rotate(8deg);
    margin:0 1.5em 0 1em;
}
.job > a{
    width:20%;
    margin-left:1em;
}
.job > p{
    width:90%;
}
/***********BANDEAU**********/
.bandeauRejoindre{
    padding:4em 0 3em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bandeauRejoindre > section{
    width:50%;
    padding:2em 4em;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}
.bandeauRejoindre p{
    color:var(--gris2);
    margin-bottom:1em;
}
.bandeauRejoindre h2::after{
    content: '';
    display:block;
    position:absolute;
    background-color:var(--bleu);
    height:3px;
    width:60px;
    bottom:-1em;
    left:50%;
    transform:translateX(-50%);
}
/*******************************FICHE OFFRE******************************/
/***********DESCRIPTION**********/
.offreEmploi h2::after{
    left: 3em;
    transform: scale(1.4);
}
/***********CANDIDATER**********/
.candidater{
    padding:2em 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*******************************CONTACT******************************/
.contact{
    padding:2em 10vw;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}
.contact h2::after{
    left:1em;
}
